# Web framework
fastapi
uvicorn

# Database
psycopg2-binary==2.9.9
pgvector==0.2.3
python-dotenv==1.0.0

# Search / NLP
nltk
num2words
transformers
optimum[onnxruntime]
onnxruntime
sentence-transformers
tqdm==4.66.0